@model SpaDay.ViewModel.AddUserViewModel;
@if (ViewBag.error != null)
{
    <p>@ViewBag.error</p>
}
<form method="post" action="/user">
    @if (ViewBag.error != null)
    {
        <label>Username: <input asp-for="Username" value="@Model.Username"/></label>
    }
    else
    {
        <label>Username: <input asp-for="Username" /></label>
    }
    <span asp-validation-for="Username"></span><br />

    <label>Password: <input asp-for="Password" type="password"/></label>
    <span asp-validation-for="Password"></span><br />
    <label>Confirm Password: <input asp-for="VerifyPassword" type="password"/></label>
    <span asp-validation-for="VerifyPassword"></span><br />
    @if (ViewBag.error != null)
    {
        <label>Email: <input asp-for="Email" value="@Model.Email"/></label>
    }
    else
    {
        <label>Email: <input asp-for="Email" /></label>
    }
    
    <input type="submit" />
</form>