@model SpaDay.ViewModel.AddUserViewModel;
<h1>Sign Up Form</h1>

<form method="post" action="/user">

    <label>Username: <input asp-for="Username" /></label>
    <span asp-validation-for="Username"></span><br />

    <label>Password: <input asp-for="Password" type="password" /></label>
    <span asp-validation-for="Password"></span><br />

    <label>Confirm Password: <input asp-for="VerifyPassword" type="password" /></label>
    <span asp-validation-for="VerifyPassword"></span><br />

    <label>Email: <input asp-for="Email" /></label><br />

    <button>Submit</button>
</form>
