@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@if(ViewBag.user != null)
{
    <h1>Welcome, @ViewBag.user.Username</h1>
}

<a asp-controller="spa" asp-action="Index">Return to spa</a>